*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Menu{
    width:80%;
    /* height: 50px; */
    background-color: black;
    margin: 0 auto;
    float: left;
    margin-left: 100px;
}
.Menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu ul li{
    list-style-type: none;
    float: left;
 
}
.Menu ul li a{
 display: block;
 padding: 15px;
 text-decoration: none;
 color: white;

}
.Menu ul li a:hover{
  background-color: blue;
}
.active{
    background-color: blue;
}
.fetuer .title{
    text-align: center;
}
.fetuer .des{
    width: 900px;
    margin: auto;
}
.contan{
  width: 900px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
}
.box{
    width: 24%;
    height: 100%;
    background-color: rgb(242, 242, 242);
    box-shadow: 1px 1px 5px 0px black;
}
.box-img{
    width: 100%;
    height: 50%;
    background-color: red;
}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-txt{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}
.box-txt h1{
    text-align: center;
    font-size: 22px;
}
.box-txt p{
    text-align: center;
}
.box-txt a{
    display: block;
    background-color: black;
    padding: 6px;
    width: 60px;
    margin-left: 10px;
    margin-top: 6px;
    color: white;
   
}