.container{
    width: 400px;
    height: 400px;
    background-color: blue;
    margin: auto;
    padding: 10px;
}
.navber{
    width: 100%;
    height: 10%;
    background-color: red;
}
.navber1{
    width: 100%;
    height: 10%;
    background-color:green;
    margin-top: 10px;
}
.contan{
    width: 100%;
    height: 40%;
    /* background-color: gold; */
    margin-top: 10px;
    display: flex;
}
.contan-left{
    width: 69%;
    height: 100%;
    background-color: violet;
}
.contan-right{
    width: 29%;
    height: 100%;
    background-color: red;
    margin-left: 2%;
}
.contan-top{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    margin-top: 10px;
    display: flex;
}
.box{
    width: 20%;
    height: 100%;
    background-color: red;

}
.box:nth-child(2){
    margin-left: 1%;
}
.box:nth-child(3){
    margin-left: 1%;
}
.box:nth-child(4){
    margin-left: 1%;
}
.box:nth-child(5){
    margin-left: 1%;
}

