*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier-fluid-top{
    width: 100%;
}
.contaienr-fluid{
    width: 100%;
    height: 100px;
    background-color: black;
    padding:10px;
}
.top-hader{
    width: 80%;
    margin: auto;
    height: 100%;
    /* background-color: brown; */
    display: flex;
}
.logo{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
}
.logo img{
    height: 100%;
}
.ads{
    width: 80%;
    height: 100%;
    /* background-color: violet */
}
.ads img{
    width: 100%;
    height: 100%;
}
.Menu-top{
    width: 100%;
    height: 70%;
    background-color: red;
}
.Menu{
    width: 80%;
    height: 70px;
    /* background-color: red; */
    margin: auto;
}
.Menu ul{
    list-style-type: none;
}
.Menu ul li{
    float: left;
}
.Menu ul li a{
    display: block;
    text-decoration: none;
    padding: 20px 15px;
    color: white;
    font-size: 22px;
    font-family: 'Koulen', cursive;
}
.Menu ul li a:hover{
    color: rgb(230, 211, 187);
}
.container-item{
    width: 80%;
    height: 500px;
    background-color: black;
    margin: auto;
    display: flex;
    margin-top: 5px;
}
.contan-left{
    width: 70%;
    height: 100%;
    /* background-color: yellow */
}
.contan{
    width: 100%;
    height: 49%;
    /* background-color: tomato; */
    display: flex;
}
.contan:nth-child(2){
    margin-top: 1%;
}
.box-left{
    position: relative;
    width: 60%;
    height: 100%;
    /* background-color: springgreen; */
}
.box-left img{
    width: 100%;
    height: 100%;
}
.box-right{
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: brown; */
}
.box-right img{
    width: 100%;
    height: 100%;
}
.contan-right{
    width: 29%;
    height: 100%;
    /* background-color: violet; */
    margin-left: 1%;
 
}
.contan-right-box{
    top: 10px;
    position: relative;
    width: 95%;
    height: 48%;
    /* background-color: sienna; */
    margin: auto;
}
.contan-right-box:nth-child(2){
    margin-top: 1%;
}
.contan-right-box img{
    width: 100%;
    height: 100%;
}
.top-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 10px;
    width: 110px;
    height: 40px;
    background-color: red;
    clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
}

.top-item p{
    font-size: 22px;
    font-weight:bold;
    color: white;
}
.title{
    position: absolute;
    left: 0;
    top: 130px;
    transition: 0.8s;
}
.title p{
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Khmer', sans-serif;
}
.time{
    position: absolute;
    left: 0;
    top: 200px;
}
.time p{
    padding: 10px;
    color: white;
    font-size: 22px;
}
.text-title{
    position: absolute;
    left: 0;
    top: 180px;
    transition: 0.8s;
    z-index: -1;
}
.text-title p{
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Khmer', sans-serif;
}
.box-left:hover .title{
    position: absolute;
    top: 60px;
}
.box-left:hover .title p{
    color: red;
}
.box-left:hover .text-title{
    position: absolute;
    top: 130px;
    z-index: 1;
}
.box-right:hover .title{
    position:absolute;
    top:40px ;
}
.box-right .title{
    position: absolute;
    top: 90px;
    left: 0;
}

.box-right:hover .text-title{
    position: absolute;
    top: 140px;
    z-index: 1;
}
.box-right:hover .title p{
    color: red;
}



